@font-face {
    font-family: "sansation";
    src: url(./font/sansation/Sansation-Regular-webfont.woff) format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --sidebar-background-color: #000000;
    --sidebar-text-color: white;

    --site-content-primary-color: #f4f3ef;
    --site-content-secondary-color: #eae8e0;

    --green-button-color: #228B22;

    --current-selection-color: #79bfd6;
}

body {
    display: flex;
    margin: 0;
    padding: 0;

    height: 100vh;
}

* {
    box-sizing: border-box;
    font-family: "sansation", sans-serif;
    font-size: 1rem;
}

button {
    border: none;
    padding: 0.75rem;
    cursor: pointer;
}

.sidebar {
    width: 30vw;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
}

.sidebar * {
    width: inherit;
}

.sidebar-background{
    height: 100vh;
    position: absolute;
    z-index: -1;
}

.sidebar .sidebar-asset {
    position: absolute;
    padding: 1rem;
    color: var(--sidebar-text-color);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5)
}

.sidebar-header {
    top: 20vh;
    height: 15vh;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sidebar-reference {
    bottom:0;
    font-size: clamp(0.5rem, 3vh, 1.2rem);
}

.sidebar-header img,
.sidebar-header p {
    height: 15vh;
    width: auto;
    position: static;

    padding: 0.5rem;
}

.sidebar-header p {
    font-size: clamp(1rem, 5vh, 2rem);
    text-align: center;

    height: auto;
}

.sidebar-reference-link {
    color: var(--sidebar-text-color);
    text-underline-offset: 5px;
}

.main-content {
    width: 70vw;
}

.main-content > div {
    height: calc(100vh / 3);
    width: 100%;
    padding: 1.5rem;
}

.about-site,
.submit-login {
    background-color: var(--site-content-secondary-color);
}

.about-site p{
    font-size: 1.5rem;
    font-weight: 700;
}

.about-site p:first-of-type{
    padding-top: 10vh;
}

.create-account-button {
    background-color: var(--green-button-color);
    color: white;
    font-size: 1.2rem;
    width: 10vw;
    border-radius: 5px;
}

.login-button {
    background-color: transparent;
    font-weight: 700;
    color: var(--green-button-color)
}

.sign-up-form p {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 1vw 0 0 0;
}

.sign-up-form > form{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
    width: 75%
}

.form-input {
    display: flex;
    flex-direction: column;

    width: 20vw;
    height: 4vw;
    padding: 1rem;
    padding-left: 0;
}

.form-input > input {
    height: 4vh;
    border: 2px solid lightgrey;
    border-radius: 5px;
    margin: 0.2rem 0 0 0;
}

.form-input > input:focus {
    outline: none;
    box-shadow: 0px 0px 5px 2px var(--current-selection-color);
}